.tab-btn {
    width: 50%;
    margin-top: 0px;
    font-family: 'Open-Sans', sans-serif;
}

#editor-row {
    margin-right: 0px;
    min-height: 85vh;
    max-height: 85vh;
}

#char-tab, #world-tab {
    background-color: #343a40;
    color: white;
}

#notes-tab:focus, #plot-tab:focus, #char-tab:focus, #world-tab:focus {  
    box-shadow: none;
}

#plot-tab, #notes-tab {
    background-color: #f8f9fa;
    color: #343a40;
}

#editor-col {
    padding: 0px;
    width: 99%;
}

#tabs-left {
    border-right: 1px solid #dfdfdf;
    padding-right: 0px;
    overflow: auto;
    min-height: 85vh;
    max-height: 85vh;
    max-width: 100vh;
    margin-bottom: 20px;
}


#tabs-right {
    border-left: 1px solid #dfdfdf;
    padding-left:0px;
    padding-right: 0px;
    overflow: auto;
    min-height: 85vh;
    max-height: 85vh;
    max-width: 100vh;
    margin-bottom: 20px;
}

#text-editor {
    height: 78%;
    max-height: 85vh;    
}

.mce-notification {
    display: none;
}

.edit-fullscreen {
    font-family: 'Open-Sans', sans-serif;
    font-size: 12px;
    color: rgb(86, 86, 253);
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
}

.edit-fullscreen:hover {
    text-decoration: none;
}

.nothing-yet {
    margin: 10px;
    text-align: center;
    font-family: 'Open-Sans', sans-serif;
}

.mce-panel {
    /* min-height: 85vh; */
    border: none;
    border-width: 0px !important;
}