.tabBtn {
    width: 50%;
    margin-top: 0px;
}

#editorRow {
    height: 100%;
    margin-right: 0px;
}

#char_tab {
    background-color: #343a40;
    color: white;
}

#plot_tab {
    background-color: #f8f9fa;
    color: #343a40;
}

#tabsLeft {
    border-right: 1px solid #dfdfdf;
    height: 100%;
    padding-right: 0px;
    overflow: auto;
    max-height: 83vh;
    max-width: 100vh;
    margin-bottom: 48px;
}


#tabsRight {
    border-left: 1px solid #dfdfdf;
    height: 100%;
    padding-left:0px;
    padding-right: 0px;
}