.tabBtn {
    width: 50%;
    margin-top: 0px;
    font-family: 'Open-Sans', sans-serif;
}

#editorRow {
    height: 100%;
    margin-right: 0px;
}

#char_tab, #world_tab {
    background-color: #343a40;
    color: white;
}

#plot_tab, #notes_tab {
    background-color: #f8f9fa;
    color: #343a40;
}

#editorCol {
    padding: 0px;
}

#tabsLeft {
    border-right: 1px solid #dfdfdf;
    height: 100%;
    padding-right: 0px;
    overflow: auto;
    max-height: 85vh;
    max-width: 100vh;
    margin-bottom: 30px;
}


#tabsRight {
    border-left: 1px solid #dfdfdf;
    height: 100%;
    padding-left:0px;
    padding-right: 0px;
    overflow: auto;
    max-height: 85vh;
    max-width: 100vh;
    margin-bottom: 30px;
}

#textEditor {
    height: 78%;
    max-height: 85vh;    
}

#mceu_34 {
    display: none;
}

.edit-fullscreen {
    font-family: 'Open-Sans', sans-serif;
    font-size: 12px;
    color: rgb(86, 86, 253);
    cursor: pointer;
    margin-top: 15px;
    text-align: center;
}