#text-editor-note {
    height: 100%;
    max-height: 90vh;    
}

.mce-notification {
    display: none;
}

#editor-note-col {
    height: 100%;
    max-height: 100vh;
}

#editor-note-row {
    height: 100%;
    margin-right: 0px;
}

#note-list-col {
    height: 100%;
    overflow: auto;
    max-height: 85vh;
}
#title_input {
    width: 100%;
}

.form-text {
    font-family: 'Open-Sans', sans-serif;
    font-size: 15px;
}

.btn-save-modal {
    background-color: #7e4464;
    color: white;
}

.delete-btn:focus, .delete-btn:active {
    box-shadow: none;
}