#text-editor-char {
    height: 100%;
    max-height: 90vh;    
}

.mce-notification {
    display: none;
}

#editor-char-col {
    height: 100%;
    max-height: 90vh;
    padding-right: 0px;
}

#editor-char-row {
    min-height: 90vh;
    max-height: 90vh;
    margin-right: 0px;
}

#char-list-col {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    overflow: auto;
    min-height: 85vh;
    max-height: 85vh;
    border-left: 1px solid #dfdfdf;
}
#name_input, #preview_input {
    width: 100%;
}

.form-text {
    font-family: 'Open-Sans', sans-serif;
    font-size: 15px;
}

.btn-save-modal {
    background-color: #7e4464;
    color: white;
}

.delete-btn {
    font-size: 12px;
    font-family: 'Open-Sans', sans-serif;
    margin-top: 10px;
}

.delete-btn:focus, .delete-btn:active {
    box-shadow: none;
}