#textEditor-char {
    height: 100%;
    max-height: 90vh;    
}

.mce-notification {
    display: none;
}

#editor-char-col {
    height: 100%;
    max-height: 100vh;
    padding-right: 0px;
}

#charEditorRow {
    height: 100%;
    margin-right: 0px;
}

#char-list-col {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    height: 100%;
    overflow: auto;
    max-height: 85vh;
    /* max-width: 100vh; */
    /* margin-bottom: 30px; */
}
