body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
  min-height: 100%;
}

html {
  height: 100%;
  /* box-sizing: border-box; */
}

/* *,
*:before,
*:after {
  box-sizing: inherit;
} */

.form-control:active, .form-control:focus {
  box-shadow: none;
  border-color: #7e4464
}