.delete-btn {
    font-size: 12px;
    font-family: 'Open-Sans', sans-serif;
    margin-top: 10px;
}

.delete-btn:focus, .delete-btn:active {
    box-shadow: none;
}

.form-text {
    font-family: 'Open-Sans', sans-serif;
    font-size: 15px;
}