.jumbotron {
    clear: "both";
    padding-top: 200px;
    padding-bottom: 220px;
    text-align: center; 
    background: url("../../book_bg.jpg");
    background-size: cover;
    background-repeat: no repeat;
}