#login-card, #register-card {
    text-align: center;
    background-color: #dfdfdf;
}

#password-help, #email-help, #login-help {
    color: red;
    display: none;
}

.submit-btns {
    background-color: #7e4464;
    color: white;
    font-size: 17px;
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif;
}