#entire-page {
    height: 85vh;
    margin-bottom: 60px;
}

#plot-editor-row {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
    overflow: auto;
    
}

#back-button-row {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
    width: 100%;
    height: 70px;
}