.char_img {
    width: 100%
}

.char_name {
    font-size: 14px;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 700;
}

.char_preview {
    font-family: 'Open-Sans', sans-serif;
    font-size: 12px;
}

.edit-character {
    font-family: 'Open-Sans', sans-serif;
    font-size: 11px;
    color: rgb(86, 86, 253);
    text-align: right;
    cursor: pointer;
}

.active-char {
    background-color: #7e446421;
}