.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #313638;
    color: #e8e9eb;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer-text {
    font-size: 12px;
    font-family: 'Open-Sans', sans-serif;
    margin-bottom: 0px;
}

.footer-links {
    cursor: pointer;
}

