#line-col {
    border-right: 6px solid #7e4464;
    /* height: 200px; */
    position: relative;
    padding-top: 40px;
}

#timeline-row {
    width: 100%;
    margin: 0px;
}

#plot-col {
    padding-left: 40px;
    padding-top: 40px;
}

.circle {
    height: 25px;
    width: 25px;
    background-color: #7e4464;
    border-radius: 50%;
    position: absolute;
    right: -15px;
    top: 50px;
}

.timeline-title {
    font-family: 'Open-Sans', sans-serif;
    font-size: 18px;
}

.timeline-text {
    font-family: 'Open-Sans', sans-serif;
    font-size: 14px;
}

.btn:focus, .btn:active {
    box-shadow: none;
}

.form-control:active, .form-control:focus {
    box-shadow: none;
    border-color: #ced4da
}