.char-img {
    width: 100%
}

.char-name {
    font-size: 14px;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 700;
}

.char-preview {
    font-family: 'Open-Sans', sans-serif;
    font-size: 12px;
}

.char-profile {
    font-family: 'Open-Sans', sans-serif;
    font-size: 12px;
}

.view-more {
    font-family: 'Open-Sans', sans-serif;
    font-size: 11px;
    color: rgb(86, 86, 253);
    text-align: right;
    cursor: pointer;
}

ul {
    padding-left: 12px;
}

li {
    padding-left: 15px;
}