.item-image {
    width: 100%
}

.primary-text {
    font-size: 14px;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 700;
}

.secondary-text {
    font-family: 'Open-Sans', sans-serif;
    font-size: 12px;
}

.view-more, .edit-item {
    font-family: 'Open-Sans', sans-serif;
    font-size: 11px;
    color: rgb(86, 86, 253);
    text-align: right;
    cursor: pointer;
}

.collapsible-text {
    font-family: 'Open-Sans', sans-serif;
    font-size: 12px;
}

ul {
    padding-left: 12px;
}

li {
    padding-left: 15px;
}

.active {
  background-color: #7e446421;
}