
#feature-display {
    height: 100%;
    background-color: #dfdfdf;
    border: 0px;
    text-align: center;
}

#feature-title {
    font-family: 'Open-Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

#feature-descr {
    font-family: 'Open-Sans', sans-serif;
}

.feature-card {
    width: 90%;
    margin: auto;
}